$font-baloo: "Baloo Thambi 2", cursive;
$font-raleway: "Raleway", cursive;
$font-rubik: "Rubik", cursive;
$color-primary: #212121;
$color-secondary: #bd3a3a;
$color-ranger: #2f2f2f;
$color-light: #fff;
$color-grey: #f2f2f2;
$color-wary: #777575;
$color-blue: #3870C4;
$color-pink: #FF05E6;
$color-gold: #FB8200;


